body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: url(todo5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  color: #080808; /* Dark grey text color */
  font-style: italic;
}

.TodoWrapper {
  background-color: #533256d4;
  border-radius: 8px;
  padding: 1rem; /* Padding around the todo list */
  width: 120%;
  max-width: 500px; /* Limit the maximum width of the container */
}

.topic {
  background-color: rgba(244, 190, 241, 0.872);
  border-radius: 4px;
  border: 40px;
}

.todo-input {
  font-size: 0.5cm;
  color: #030303;
  background-color: rgb(224, 212, 222);
  border-radius: 6px;
}

.todo-btn {
  font-size: 0.5cm;
  font-style: italic;
  background-color: #7acbe6;
  border-radius: 6px;
  color: #f5f9fa;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.todo-btn:hover {
  transform: scale(1.1);
}

.Todo {
  font-size: 0.5cm;
  background-color: rgba(249, 180, 245, 0.822);
  border-radius: 6px;
  color: black;
  transition: transform 0.3s ease-in-out;
}

.Todo:hover {
  transform: scale(1.1);
}
